/* CSS chung */
.groupInput {
  background-color: white;
  color: black;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translate(0, 50%);
  border: 3px solid #febb02;
  border-radius: 5px;
}
.groupInput input {
  border: none;
  height: 30px;
  font-size: 16px;
  text-align: center;
}
.groupInput input::placeholder {
  font-size: 16px;
}
.groupInput input::-webkit-inner-spin-button,
.groupInput input::-webkit-calendar-picker-indicator {
  display: none;
}
.btn {
  padding: 10px;
  border: none;
  background-color: #0071c2;
  color: white;
}
.mb-2 {
  margin-bottom: 20px;
}
/* --------CSS riêng lẻ từng thành phần input -----------*/
.groupInputDate,
.groupInputPlace,
.groupInputMoreInfo {
  display: flex;
  gap: 5px;
  align-items: center;
  color: rgb(163, 163, 163);
}
.groupInputPlace input {
  width: 200px;
  text-align: start;
}
.groupInputDate {
  gap: 10px;
}
.groupInputMoreInfo input {
  max-width: 10px;
}
/* ------CSS Modal-------- */
.modal {
  position: absolute;
  left: 50%;
  top: 120%;
  transform: translate(-50%, 0);
  z-index: 2;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 15px 15px 5px #bebebe;
}
.modal-header {
  position: relative;
  height: 40px;
}
.modal-header button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 24px;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
