.groupCard{
cursor: pointer;
}
.card{
position: relative;
}
.card img{
max-width: 400px;
min-width: 380px;
max-height: 250px;
border-radius: 15px;
object-fit: cover;
}
.groupText{
position: absolute;
top: 60%;
left: 10%;
color: white;
font-weight: bold;
z-index: 1;
}
.groupText h2{
font-size: 28px;
}